


<div class="">
  <h1><%=@subject.name%></h1>
  <h3>Add a Test for this subject</h3>
  <form class="" action="/subjects/<%=@subject.id%>/tests" method="post">
    <label>Name of test: <input type="text" name="test[name]" value=""></label> <label>Date of test:</label> <input type="text" name="test[date]" value="">
    <input type="submit" value="Add Test">
  </form>
  <h3>List of tests</h3>

  <%@subject.tests.each do |test| %>

    <h4><a href="/tests/<%=test.id%>"><%=test.name%></a></h4>
    <br> Date of test: <%=test.date%>
  <%end%>

</div>
<div class="">
  <h3>Add a Student for this subject</h3>
  <form class="" action="/subjects/<%=@subject.id%>/students" method="post">
    Student First Name: <input type="text" name="student[first_name]" value="">
    Student Last Name: <input type="text" name="student[last_name]" value=""><br><br>
    Student Date of birth: <input type="text" name="student[dob]" value=""><br><br>
    <input type="submit"  value="Add Student">


  </form>
  <h3>  list of Students</h3>
  <%@students.each do |student| %>
  <h4><a href="#"><%="#{student.first_name} #{student.last_name}"%></a></h4>
  <%end%>
</div>
